#about-container{
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
  display:flex;
  justify-content: center;
}
#about-close{
  margin-top:15px;
  margin-right: -25px;
  margin-bottom: -25px;
  font-size:2em;
  color:red;
  align-self: flex-end;
}
#about-close:hover{
  cursor:pointer;
}

#about-opaque-background{
  position:absolute;
  width:100%;
  height:100%;
  opacity: .6;
  background-color: black;
}

#about-panel{
  position:relative;
  display:flex;
  flex-direction: column;
  margin-top: 85px;
  height:calc(100% - 100px);
  width: 75%;
  max-width:650px;
  padding-left:40px;
  padding-right:40px;
  background-color: #282828;
  border-radius: 10px;
  opacity: 1;
  z-index:2;
  overflow-y:auto;
}

#about-container a{
  color:rgb(173, 216, 230);
}
#about-container a:visited{
  color:rgb(220, 50, 220);
}

@media only screen and (max-width: 768px) {
  #about-panel{
    height:calc(100% - 85px);
  }
}
@media only screen and (max-width: 400px) {
  #about-panel{
    overflow-y:auto;
  }
}
